<h1>Welcome <%=@user.username%></h1>

<p>We are currently working on your account.</p>
<p>Balance: <%=@user.balance%></p>

<a href="/deposit">Deposit</a>
<a href="/withdrawal">Withdrawal</a>

<p><a href="/logout">Log Out</a></p>
